html {
	font-size: 16px;
}

body {
	align-items: center;
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
	
}

.container{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	align-items: center;
	border-bottom: 3px solid #77a466;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding: 38px 20px;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	font-weight: 700;
	font-size: .875em;
	list-style: none;
	padding: 10px 0px;
	text-transform: uppercase;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	
}

.main-image {
	height: auto;

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	
}

.section-one h3 {
	padding: 10px 0;
}



.section-two h3,
.section-three h3 {
	padding: 10px 0px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0px;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0px;
}

/*The widths are in a percentage!*/
footer {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}



/****** Tablet styles here ******/

@media all and (min-width:768px) {

.bottom-section {
	align-items: flex-start;
	border-top: 1px solid #eee;
	justify-content: space-between;

}
.section-one, .section-two, .section-three {
	border-top: none;
	flex-basis: 30%;
	
}
.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0 20px;
}
 
}
 

 /****** Desktop styles here ******/
@media all and (min-width:1200px) {
 
	header {
		justify-content: space-between;
	}

	header h1 {
		width: 30% ;
		padding: 0;
		border-bottom: none;
		text-align: left;
	  }
	header nav {
		width: 40%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
		

	}
}